@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Coffee Shop</h1>
    <p class="lead">Sample, this is the shop you buy coffees.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Let's See what coffees we have
        </p>
        <p><a class="btn btn-default" href="/Coffees">Learn more &raquo;</a></p>
    </div>
</div>